# Dependencies
node_modules

# Build Outputs
dist
tsup.config.bundled*.mjs

# Turbo
.turbo

# Local env files
.env
.env.local
.env.development.local

# Misc
.DS_Store
*.pem
_AI_CHATS

## Panda
styled-system
styled-system-studio

## Storybook
storybook-static